body {
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
  background-color: #F8F7EE;
}

#world {
  position: relative;
  top:0;
  left: 350px;
  width:1050px;
}

#chart, #header, #footer {
  position: absolute;
  top: 0;
}

#header, #footer {
  z-index: 1;
  display: block;
  font-size: 36px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

#header.inverted, #footer.inverted {
  color: #fff;
  text-shadow: 0 1px 4px #000;
}

#header {
  top: 80px;
  left: 140px;
  width: 1000px;
}

#footer {
  top: 680px;
  right: 140px;
  text-align: right;
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.hint {
  position: absolute;
  right: 0;
  width: 1280px;
  font-size: 12px;
  color: #999;
}



.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 14px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
#navigation {
  position:absolute;
  top:0;
  left:350px;
  list-style:none;
  margin:0;
  padding:0;
}
#navigation li { 
  display:inline-block;
  margin-right:3px;
  padding:5px 10px;
  background:#ECEAD6;
  color:#1B3742;
  font-size:2em;
  text-align:center;
  cursor: pointer;
  border-bottom:3px solid #ECEAD6;
}
#navigation li:hover { border-color:#DD2B5D; }
#navigation li.active { background-color:#1B3742; color:#ECEAD6; border-color:#DD2B5D; }


.website rect {
  height: 30px;
  width: 24px;
  stroke: #519548;
  fill: #88C425;
}

.server rect {
  height: 30px;
  width: 24px;
  stroke: #D46700;
  fill: #FFC48C;
}

.server.active rect {
  stroke: blue;
}

svg {
  overflow: visible;
}

.internet line {
  stroke: #222;
  stroke-width: 1;
}

.internet .background {
  font-size:20px;
  fill: white;
  stroke: whitesmoke;
  stroke-width: 8;
  stroke-linecap: 'round';
  stroke-linejoin: 'round';
}

.internet .foreground { 
  font-size:20px;
}

#description {
  position: absolute;
  top:0;
  left: 0;
  width:350px;
  background-color: #F8F7EE;
}

#description div {
  font: 16px 'Helvetica Neue';   
  padding: 15px;
}
#description h3 { 
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 20px 0;
}
#description p {
  margin:0 0 20px 0;
  line-height: 1.3em;
}

#start {
  padding:5px;
  background-color: #333;
  color:#eee;
  width:80px;
  text-align: center;
}
