/* http://www.colourlovers.com/palette/971420/Hippie_van_%E2%98%AE */
/* http://www.colourlovers.com/palette/81885/Hymn_For_My_Soul */
/* http://www.colourlovers.com/palette/1249110/jujubes */
/* http://www.colourlovers.com/palette/55400/Neon_Virus */
body {
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
  background-color: #F8F7EE;
}

#world {
  position: relative;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

#chart, #header, #footer {
  position: absolute;
  top: 0;
}

#header, #footer {
  z-index: 1;
  display: block;
  font-size: 36px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

#header.inverted, #footer.inverted {
  color: #fff;
  text-shadow: 0 1px 4px #000;
}

#header {
  top: 80px;
  left: 140px;
  width: 1000px;
}

#footer {
  top: 680px;
  right: 140px;
  text-align: right;
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.hint {
  position: absolute;
  right: 0;
  width: 1280px;
  font-size: 12px;
  color: #999;
}

#navigation {
  position:absolute;
  bottom:0;
  left:1%;
  list-style:none;
  margin:0;
  padding:0;
}
#navigation li { 
  display:inline-block;
  margin-right:3px;
  padding:5px 10px;
  background:#ECEAD6;
  color:#1B3742;
  font-size:2em;
  text-align:center;
  cursor: pointer;
  border-bottom:3px solid #ECEAD6;
}
#navigation li:hover { border-color:#DD2B5D; }
#navigation li.active { background-color:#1B3742; color:#ECEAD6; border-color:#DD2B5D; }

svg {
  overflow: visible;
}

#description {
  position: absolute;
  top:0;
  left: 1%;
  width:30%;
  z-index: 100;
  background-color: transparent;
}

#description div {
  font: 16px 'Helvetica Neue';
  padding: 15px;
  background-color: #F8F7EE;
  box-shadow: 2px 2px 5px #ccc;
}
#description h3 { 
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 20px 0;
}
#description p {
  margin:0 0 20px 0;
  line-height: 1.3em;
}

#description a {
  color: green;
  text-decoration: underline;
}
#start {
  padding:5px;
  background-color: #333;
  color:#eee;
  width:80px;
  text-align: center;
}


kbd {
  padding: 0.1em 0.6em;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;}


#world > svg {
  width: 100%;
  background-color: #FFF;
}

/* icon styles */
/* --------------------------- */

.node text {
  font-size: 14px;
  font-family: courier;
  fill: #0B2E59;
}

path.link {
  fill: none;
  stroke: #A0C55F;
  stroke-width: 1.5px;
  stroke-dasharray:3, 3;
}

.node circle {
  cursor: pointer;
  fill: #F4DD51;
  stroke: #E6AC27;
  stroke-width: 1.5px;
}
.datamelon {
  width:30px; height:30px; fill:#333;
}

.datamelon.web-browser { fill: #228DFF; }
.datamelon.wifi-high { fill: #FF0092; }
.datamelon.browser-2 { fill: #772A53; }
.datamelon.menu { fill: #0D6759; }
.datamelon.database { fill: #FA3C08; }
/* --------------------------- */
/* end icon styles */

